{% extends 'layout.html.twig' %}

{% block title %}{{ card.title}}, {{ secondaryTitle }}{% endblock %}

{% block lang %}{{ lang }}{% endblock %}

{% block author %}{{ card.title}}, {{ secondaryTitle }}{% endblock %}

{% block metaKeywords %}{{ metaKeywords }}{% endblock %}
{% block metaDescription %}{{ metaDescription }}{% endblock %}

{% block analytics %}{{ card.analytics|raw }}{% endblock %}

{% block footer %}
{{ card.firstname }} {{ card.lastname }}
&copy;
{{ card.birthday|date("Y") }} - {{ "now"|date("Y") }}
<br />
{{ parent() }}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {{ card.title }} <small>{{ secondaryTitle }}</small>
    </h1>
    <div id="headerLinks">
        <a href="{{ websites.0.url }}" class="btn primary">
            {% trans %}visit_my_blog{% endtrans %}
        </a>
        <a href="mailto:{{ emails[0]|raw }}" class="btn primary">
            {% trans %}mail_me{% endtrans %}
        </a>
    </div>
</div>

<div class="row">
    <div class="span11">
        <p>
            {{ about|raw }}
        </p>
    </div>
    <div class="span3">
        <div id="picture">
            {% if gravatarLink is empty %}
            <img src="/images/{{card.profilepicture}}" alt="{{ card.firstname }} {{ card.lastname }}"/>
            {% else %}
            <img src="{{ gravatarLink }}?s=160" alt="{{ card.firstname }} {{ card.lastname }}" />
            {% endif %}
        </div>
        
        <div id="contactDetails">
            <h3>{% trans %}contact_me{% endtrans %}</h3>
            <ul class="unstyled">
                {% for email in emails %}
                <li><a href="mailto:{{ email|raw }}">{{ email|raw }}</a></li>
                {% endfor %}
                
                {% for phonenumber in phonenumbers %}
                <li>{{ phonenumber.phonenumber }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div id="links-list">
            <h3>{% trans %}links{% endtrans %}</h3>
            <ul class="unstyled">
                {% for link in links %}
                <li style="background-image:url('/images/icons/{{ link.icon }}');">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
