{% extends 'layout.html.twig' %}

{% block title %}{{ card.title}}, {{ secondaryTitle }}{% endblock %}

{% block content %}
<div id="homePage">
    <header>
        <div class="top">
            <h1>
                <span class="titleDelimiter">..</span>
                <a href="#">{{ card.title }}</a>
                <span class="titleDelimiter">..</span>
            </h1>
            <h2>{{ secondaryTitle }}</h2>
        </div>
        {#
        <div id="langLinks">
            <a href="?lang=fr" class="langFrLink" title="Voir en français"></a>
            <a href="?lang=en" class="langEnLink" title="View in english"></a>
        </div>
        #}
        <div class="bottom">
            <div class="longDelimiter">&nbsp;</div>
        </div>
    </header>
    <div id="content">
        <div class="top">
            <div id="picture">
                <img src="/images/{{card.profilepicture}}" alt="{{ card.firstname }} {{ card.lastname }}" />
            </div>
            <div class="websites">
                <h4>{% trans %}my_websites{% endtrans %}</h4>
                <ul>
                    {% for website in websites %}
                    <li><a href="{{ website.url }}">{{ website.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="contact">
                <h4>{% trans %}contact_me{% endtrans %}</h4>
                <ul class="emails">
                    {% for email in emails %}
                    <li><a href="mailto:{{ email|raw }}">{{ email|raw }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="phoneNumbers">
                    {% for phonenumber in phonenumbers %}
                    <li>{{ phonenumber.phonenumber }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="longDelimiter">&nbsp;</div>
        <div class="bottom">
            <div class="left" id="leftBlock">
                <div id="about">
                    <h3>{% trans %}about_me{% endtrans %}</h3>
                    <p>{{ about|raw }}</p>
                </div>
            </div>
            <div class="right" id="rightColumn">
                <div id="links">
                    <h3>{% trans %}links{% endtrans %}</h3>
                    <ul>
                        {# TODO : Make the whole li clicable #}
                        {% for link in links %}
                        <li style="background:url('/images/icons/{{ link.icon }}') no-repeat 6px 2px #22201D;">
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="longDelimiter">&nbsp;</div>
        <div id="copyright">
            <p>
                {{ card.firstname }} {{ card.lastname }}
                &copy;
                {{ card.birthday|date("Y") }} - {{ "now"|date("Y") }}
            </p>
            <p id="themecredits">
                ChaoticCard by <a href="">Samy Dindane</a><br />
                Original theme by <a href="http://avalonstar.com/">Bryan Veloso</a>
            </p>
        </div>
    </footer>
</div>
{% endblock %}